@model module4.Domain.Category 
@using module4.Domain          

 

@{
    ViewData["Title"] = "Cadastro de Categorias";
}

@foreach(var item in ViewBag.Categories as List<Category>)
    {
        <ul>
            <li>
                @item.Name
                <a href="/Category/Index/@item.Id">Editar</a>
                <form asp-action="Delete" asp-controller="Category" method="post">
                    <input type="hidden" name="id" value="@item.Id">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
     
    }

<form asp-controller="Category" asp-action="Register" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group" style="margin-top:20px">
        <label for="Name">Nome</label>
        <input type="text" class="form-control" asp-for="Name"  />
    </div>

 <button type="submit" class="btn btn-default">Salvar</button>
 </form> 

 